* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.main-container {
    text-align: center;
    h1 {
        font-size: 3rem;
        color: white;
        white-space: no-wrap;
    }
}

.drum-container {
    .btn {
        padding: 30px 50px;
        background-color: white;
        border: none;
        margin: 10px;
        font-size: 30px;
        min-width: 200px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
        cursor: pointer;
        &:hover {
            color: pink;
        }
        &:active {
            font-size: 35px;
            border: 2px solid pink;
        }
    }
}
